.header {
  margin-bottom: 1.5rem;
}

.center {
  text-align: center;
}

.center .title {
  margin-left: auto;
  margin-right: auto;
}

.center .subtitle {
  margin-left: auto;
  margin-right: auto;
}

.title {
  max-width: 600px;
  margin-bottom: 1rem;
}

.subtitle {
  max-width: 500px;
  font-size: 0.88rem;
  line-height: 1.7;
  color: var(--mid);
}

.light .title {
  color: var(--white);
}

.light .subtitle {
  color: rgba(255, 255, 255, 0.6);
}
